<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Personal Budgeting</title>

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

	<link rel="stylesheet" href="../../static/css/main.css">

	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">

</head>
<body id="body">
	<header class="header2">
		<div class="banner_wrapper">
			<h1>Are you overspending?</h1>
			<p class="brand_statement">Here is a way to find out!</p>
		</div>
		<div class="button_wrapper">
			<a href="#" class="button2">Buy us a coffee</a>
		</div>
	</header>

	<section class="output">
		<div id="wrap">
			<iframe id="shocked_reaction" src="https://giphy.com/embed/fAhOtxIzrTxyE" width="480" height="250" frameBorder="0" class="giphy-embed" allowFullScreen style="pointer-events: none;"></iframe>
		</div>

		<div id="text_box">
			<div class="negative_result">
				<h1>YAAAAYY!!</h1>
				<p>Go shooping!! You got plenty of money to spend.</p>
			</div>
			<div class="button_wrapper2">
				<a href="../" class="button2 back">Take it again</a>
				<a href="#" class="button2 share">Share results</a>
			</div>
		</div>
	</section>

	<footer id="footer2">
		<p>Made by Sergo and Leo</p>
	</footer>
</body>
</html>